<nav class="navbar bg-white p-0 shadow-sm  bg-body-tertiary rounded">
  <div class="container-fluid pl">
    <div class="navbar-brand text-decoration-none d-flex">
      <div class="notification gap pt-3 pb-3">
        <a>
          <i
            class="bi bi-envelope-fill bg-color mr padding color border-radious font-size"
            href="#"
          ></i>
        </a>
        <a>
          <i
            class="bi bi-bell-fill bg-color mr padding color border-radious font-size"
            href="#"
          ></i>
        </a>
      </div>
      <div class="search pt-3 ">
        <a>
          <i
            class="bi bi-search bg-yellow p border-radious font text-white "
            href="#"
          ></i>
        </a>
      </div>
    </div>
  </div>
</nav>
