<div class="actions pb-2">
  <button
    type="button"
    style="font-size: 14px ;color:#d6a218;border: 1px solid #d6a218;"
    class="btn btn-outline-success p-1"
  >
    <i class="bi bi-printer"  style="color: #d6a218"></i>
    مطالبة بالتعديل
  </button>
  <button
    type="button"
    style="font-size: 14px  ;color:#d6a218 ;border: 1px solid #d6a218;"
    class="btn btn-outline-success p-1"
  >
    <i class="bi bi-printer" style="color: #d6a218"></i>
    مطالبة
  </button>
  <button
    type="button"
    style="font-size: 14px  ;color:#d6a218 ;border: 1px solid #d6a218;"
    class="btn btn-outline-success p-1"
  >
    <i class="bi bi-pen"style="color: #d6a218"></i>
    تعديل
  </button>
  <button
    type="button"
    style="font-size: 14px; color: #10ab4e ;border: 1px solid #10ab4e; "
    class="btn btn-outline-success p-1"
  >
    <i class="bi bi-printer" style="color: #10ab4e"></i>
    طباعة عقد الايجار
  </button>
  <button
    class="btn btn-primary py-1 px-1 border-0 ms-1"
    style="font-size: 14px; background-color: #d6a218"
    type="submit"
  >
    اغلاق عقد
    <i
      class="bi bi-plus"
      style="font-size: 17px; background-color: #d6a218"
    ></i>
  </button>
</div>
