<div class="container">
  <div class="path fst-normal d-flex justify-content-end">
    الصفحة الرئيسيه/عرض جميع العقود/بيانات العقد
  </div>
  <div
    class="contract-data d-flex flex-row-reverse pt-4 justify-content-between"
  >
    <div class="text">بيانات العقد</div>
    <div class="addNewContract">
      <button
        type="button"
        class="btn btn-outline-success p-1"
        style="color: #d6a218; border: 1px solid #d6a218"
      >
        طلب عقد خارجى
        <i class="bi bi-arrow-repeat" style="font-size: 17px"></i>
      </button>
      <button
        class="btn btn-primary py-1 px-1 border-0 ms-1"
        style="font-size: 14px; background-color: #d6a218"
        type="submit"
      >
        انشاء عقد جديد
        <i
          class="bi bi-plus"
          style="font-size: 17px; background-color: #d6a218"
        ></i>
      </button>
    </div>
  </div>
  <div class="contract-status d-flex flex-row-reverse pt-2 pb-3 flex">
    <i class="bi bi-1-circle"></i>
    <div class="status">: حالة العقد <i class="bi bi-info-circle"></i></div>

    <div class="type mx-3">{{contractStatus}}</div>
  </div>
  <app-show-contract-details></app-show-contract-details>
  <app-tables></app-tables>
</div>
