<div class="container">
  <div class="path fst-normal d-flex justify-content-end">
    الصفحة الرئيسيه/عرض جميع العقود/بيانات العقد
  </div>
  <div
    class="contract-data d-flex flex-row-reverse pt-4 justify-content-between"
  >
    <div class="text">بيانات العقد</div>
    <div class="addNewContract">
      <input class="btn btn-primary" type="submit" value="Submit" />
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
  </div>
  <div class="contract-status d-flex flex-row-reverse pt-2 pb-3 flex">
    <i class="bi bi-1-circle"></i>
    <div class="status">: حالة العقد</div>

    <div class="type mx-3">مفتوح</div>
  </div>
  <app-show-contract-details></app-show-contract-details>
  <app-tables></app-tables>
</div>
