<div class="sidebar h-100 align-items-center">
  <!DOCTYPE html>
  <div class="content-container" [hidden]="!isVisable">
    <div class="logo d-flex padding justify-content-around">
      <a><i class="bi bi-three-dots-vertical dots"></i></a>
      <img
        src="../../../assets/tera.jpg"
        alt="Logo"
        width="42"
        height="42"
        class="d-flex justify-content-center"
      />
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <i
          class="bi bi-house-door-fill base-color icon-padding home-background"
        ></i>
        <a class="nav-link">الرئيسية</a>
      </li>
      <li class="nav-item">
        <i class="bi bi-house-door-fill icon-padding icon-color"></i>
        <a class="nav-link" href="#">الملفات الرئيسية</a>
      </li>
      <li class="nav-item">
        <i class="bi bi-house-door-fill icon-padding icon-color"></i>
        <a class="nav-link" href="#">ملفات الارقام</a>
      </li>
      <li class="nav-item">
        <i class="bi bi-house-door-fill icon-padding icon-color"></i>
        <a class="nav-link" href="#">الاستعلامات </a>
      </li>
      <li class="nav-item">
        <i class="bi bi-house-door-fill icon-padding icon-color"></i>

        <a class="nav-link" href="#">التقارير </a>
      </li>
      <li class="nav-item">
        <i class="bi bi-house-door-fill icon-padding icon-color"></i>
        <a class="nav-link" href="#">النظام </a>
      </li>
    </ul>
  </div>
  <button type="button" (click)="toggleSidebar()">
    <i class="bi bi-caret-left base-color sz"></i
    ><i class="bi bi-caret-left base-color icon-padding sz"></i>
  </button>
</div>
